.button {
  @extend .noselect;
  background: white;
  padding: $half-spacing-unit/2;
  font-weight: bold;
  font-size: $h5-size;
  color: black;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 0 rgba(0,0,0,0);

  &.inverted {
    background: $compliment-color;
    color: white;
  }

  &:hover {
    background: $compliment-color-dark;
    color: white;
  }


}
